@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<body>
    <img src="~/css/HackathonImg.jpg" width="100%" height="200px">
    <div class="text-center">
        <h1 style="width:100%;height:100px" > </h1>
        <h1 class="display-4" style="background-color:aqua">Vendor Data Transformation</h1>
        <p>Easy way to transform vendor data to Canonical Data Model</p>
    </div>
</body> 
</html>
